<!--Partial Templates act simliar to utility functions but for HTML-->
<!-- Replaced with an actual footer by the end -->
<!--Template by Nick Thomas-->
<br> <hr>
<p style="font-weight: bold;">Copyright Farmingdale Group#1 - Fall 2021</p>
<br>

<!-- 
<footer>
    <p>Footer nav is for dev purposes</p>
    <nav>
        <a href="/UserCreation">Create User Account</a>
         <a href="/UserList">All Users</a> 
        <a href="/Login">Login to a specfic User</a>
        <a href="/Logout">Log out of current session</a>
        <a href="/VendorCreation">Create a Vendor Account</a>
        <a href="/VendorList">View All Vendors</a> 
        <a href="/Home">Home & Search Page</a>
    </nav>
</footer> -->