<ui class = "sidebar">
    <div class="spaceinbar"></div>
    <li><a href="/Home"><img src="searchIcon.png" alt="Search Vendors" width="24" height="24">Home & Search</a></li>
    <li><a href="/Bookmarked"><img src="Bookmarked.png" alt="Bookmarked Vendors" width="24" height="24">Saved Vendors</a></li>
    <li><a href="/EditAccount"><img src="EditAccount.png" alt="Edit Account" width="24" height="24">Edit Account</a></li>
    <li><a href="/Logout"><img src="LogMeOut.png" alt="Logout" width="24" height="24">Logout</a></li>
</ui>