<ui class = "sidebar">
    <div class="spaceinbar"></div>
    <li><a href="/MyVendorInfo"><img src="VendorHome.png" alt="Search Vendors" width="24" height="24"><br>Home & Your Info</a></li>
    <li><a href="/GetActiveJobs"><img src="SeeDates.png" alt="See Bookings" width="24" height="24"><br>Accepted Jobs</a></li>
    <li><a href="/getAppointments"><img src="PendingDates.png" alt="See Bookings" width="24" height="24"><br>Pending Jobs</a></li>
    <li><a href="/EditAccount"><img src="EditAccount.png" alt="Edit Account" width="24" height="24"><br>Edit your Account</a></li>
    <li><a href="/Logout"><img src="LogMeOut.png" alt="Logout" width="24" height="24"><br>Logout</a></li>
</ui>