<!DOCTYPE html>
<html>
	<head>
		<title>JAVASCRIPT</title>
	</head>
	<body>
	<div class = "div1">
	<h1> New Div </h1>
	<p>This paragraph is able to output the template argument <%= person %></p>

	<h1> Here is info on this dude <%= data.age%> old fuck, and he is a <%= data.job%></h1>
	</div>

	<!--here we can use js methods using the view engine-->
	<ui>
		<!-- unfortunately I have to format my braces to the side for this-->
		<!--<% //data.food.forEach(function(item) { %>
				<li><%=// item %></li>
		<%// }); %> -->
		<!-- WE must comment in the js escapes as well-->
	</ui>
	</body>
</html>